body {
  background: #CC99FF;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  font-size: 30px;
}

section.bordered, footer.bordered {
  border: 0px solid;
  border-radius: 5px;
  border-style: double;
  padding:10px;
  border-color: #FF66FF;
  position: relative;
  overflow: scroll;
}

header.bordered {
  background: #FF9999;
  position: fixed;
  padding: 0px;
  width:100%;  
  z-index: 2;
  margin: 0px;
}

.sketch {
  background: #FF66FF url("../images/MadsWithCraig.jpg") no-repeat right top;
  background-size: 240px 180px;
  padding:10px;
}

h1 {
  color: black;
  text-align: center;
  font-size:5rem;
  font-weight:bold;  
}

p {
  font-size: 1rem;
}

p::first-letter { 
  font-size: 200%;
  color: #8A2BE2;
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #400c01;
}

/* mouse over link */
/*
a:hover {
  color: #FF00FF;
}
*/

a:hover, a:focus {
  outline:1px solid red;
  background:yellow;
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
}

ul  {
  list-style: square url("../images/apple1.png");
}

figure {
  display: inline-block;
  border: 1px solid #FFFFFF;
  margin: 20px;
}

figcaption {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

img {
  width: 304px;
  height: 228px; 
}






